@page "/about"

<h1 style="text-align:center">-- About --</h1>
<p>
    <h4>Email: <a href="mailto://support@testedmetals.com">support@testedmetals.com</a></h4>
</p>
<p>
    <h4>©TestedMetals LLC</h4>
</p>

@code {

}
